<div id="hmt-settings" class="hmt-hide">
  <div class="background"></div>
  <div class="container">
    <h2>HKU Moodle Tweaks</h2>
    <ul>
      <li>
        <div>Hide useless components:</div>
        <input type="checkbox" id="hmt-hide-useless-components" />
      </li>
      <li>
        <div>Hide course images:</div>
        <input type="checkbox" id="hmt-hide-course-images" />
      </li>
      <li>
        <div>Random UI tweaks:</div>
        <input type="checkbox" id="hmt-random-ui-tweaks" />
      </li>
      <li>
        <div>Dark theme support:</div>
        <input type="checkbox" id="hmt-dark-theme" />
      </li>
      <li>
        <div>Courses filter:</div>
        <select id="hmt-courses-filter">
          <option value="0">Disabled</option>
          <option value="1">Auto Detect</option>
          <option value="2">Auto Detect (Aggressive)</option>
          <option value="3">Manual</option>
        </select>
      </li>
      <li id="hmt-courses-list" class="hmt-hide"></li>
    </ul>
    <button id="hmt-close">Close</button>
    <div id="source">
      This extension is
      <a
        href="https://github.com/nohackjustnoobb/HKU-Moodle-Tweaks"
        target="_blank"
        >open-sourced</a
      >
      under the MIT licence.
    </div>
  </div>
</div>
